.calc {
  margin: 200px auto 0px;
  width: 400px;
  height: 520px;
  background-color: rgb(64, 64, 64);
  border: 1px solid whitesmoke;
  border-radius: 8px;
  box-shadow: 6px 6px 24px rgba(0, 32, 64, 1);
}

.margin-controller {
  max-width: 90%;
  margin: 40px auto;
}

input {
  max-width: 100%;
  height: 48px;
  font-size: 32px;
  background-color: rgb(64, 128, 64);
  border-radius: 4px;
  border: 2px solid rgb(32, 96, 32);
  text-align: right;
  margin-bottom: 20px;
  box-shadow: inset 6px 6px 20px rgba(0, 96, 0, 1);
}

.model {
  max-width: 40%;
  font-size: 36px;
  font-weight: 400;
  color: goldenrod;
  margin: 0px auto 20px;
  border: 2px solid gold;
  border-radius: 4px;
  box-shadow: inset 8px 8px 48px rgba(32, 32, 32, 0.66);
  text-align: center;
}

.flex-controller {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.buttons-numbers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 0px;
}

.buttons-ops {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.buttons-numbers button {
  background-color: rgb(128, 64, 64);
  color: whitesmoke;
  font-size: 24px;
  border-radius: 4px;
  border: 2px solid rgb(196, 64, 64);
  flex-basis: 25%;
  margin: 0px 20px 20px 0px;
}

.buttons-numbers button:active {
  max-width: 54px;
  max-height: 54px;
  box-shadow: inset 6px 6px 20px rgba(96, 48, 48, 1);
  border: 1px solid rgb(128, 64, 64);
}

.buttons-ops button {
  width: 100px;
  height: 60px;
  background-color: rgb(64, 64, 128);
  color: whitesmoke;
  font-size: 24px;
  border-radius: 4px;
  border: 2px solid rgb(64, 64, 196);
  margin-bottom: 20px;
}

.buttons-ops button:last-child {
  width:120px;
}

.buttons-ops button:active {
  max-width: 96px;
  max-height: 56px;
  box-shadow: inset 8px 8px 24px rgba(48, 48, 96, 1);
  border: 1px solid rgb(64, 64, 128);
}

.buttons-ops button:last-child:active {
  max-width: 120px;
}